/* GENERAL */
.container { width: 32em; height: 48em; color: #fff; overflow: hidden; position: relative; }

/* BUTTONS */
.standard-button { position: absolute; width: 6.2em; height: 5.8em; background: url(/images/communicator_sprites.png) -852px -3px no-repeat; }
.straight-button { position: absolute; width: 6.4em; height: 6.2em; background: url(/images/communicator_sprites.png) -1255px -356px no-repeat; }
.straight-bg { position: absolute; top: 1.3em; left: 1.2em; width: 3.3em; height: 3.3em; }
.slant-button { position: absolute; width: 6em; height: 6.2em; background: url(/images/communicator_sprites.png) -1255px -418px no-repeat; }
.slant-bg { position: absolute; top: 1.4em; left: 1.5em; width: 3em; height: 2.8em; }
.command-color-on { background-color: #ffcf17; }
.command-color-off { background-color: #BC9C1B; }
.operations-color-on { background-color: #ec1412; }
.operations-color-off { background-color: #9A2525; }
.science-color-on { background-color: #009df0; }
.science-color-off { background-color: #166C9A; }

/* TROUGH ITEMS */
.trough-gradient-bg { position: absolute; background: url(/images/x_dir_backgrounds.jpg) 0 -480px repeat-x; width: 32em; height: 48em; }
.trough-texture { position: absolute; background: url(/images/trough_bumps.png); width: 32em; height: 48em; }
.trough-shadow { position: absolute; left: 0.4em; top: 0.8em; border-width: 0 3.7em; width: 23.8em; height: 47.2em; opacity: 0.69; border-style: solid; border-color: transparent; border-image: url(/images/trough_shadow.png) 0 37 stretch; }

/* TITLE SCREEN ITEMS */
.starfleet-logo { position: absolute; width: 23.2em; height: 33.9em; left: 4.7em; background: url(/images/communicator_sprites.png) top -190px no-repeat; }
.logo-holder { position: absolute; top: 1em; left: 1.8em; cursor: pointer; }
.logo-beam-pattern { left: 1.2em; width: 26em; height: 19.1em; position: absolute; background: url(/images/beam_ray.png); transition: background-position 5s linear; }
.logo-beam-pattern-holder { opacity: 0; transition: opacity 2s linear; }
.logo-beam-in { left: 1.2em; width: 26em; height: 19.1em; position: absolute; background: url(/images/beam_hider.png) no-repeat; }
.logo-glow { top: -5.2em; left: 2.9em; width: 22.3em; height: 30.3em; position: absolute; background: url(/images/communicator_sprites.png) -1109px -480px no-repeat; transform: rotate(270deg); opacity: 0; transition: opacity 2s linear; }
.logo { position: absolute; width: 28.2em; height: 21em; background: url(/images/communicator_sprites.png) -632px -260px no-repeat; opacity: 0; transition: opacity 2s linear; transition-delay: 2.5s; }
.logo-glow-fade { opacity: 1; transition: opacity 2s linear; transition-delay: 2.5s; }
.subtitle { position: absolute; left: 8em; top: 19.7em; height: 9.7em; width: 23.6em; background: url(/images/communicator_sprites.png) -865px -671px no-repeat; }
.main-menu { position: absolute; left: 1.7em; top: 31.3em; }
.menu-column1 { position: absolute; left: 0em; }
.menu-column2 { position: absolute; left: 17.3em; }
.menu-row1 { position: absolute; top: 0em; }
.menu-row2 { position: absolute; top: 5.4em; }
.menu-row3 { position: absolute; top: 10.7em; }
.menu-communicate { width: 15.1em; height: 2.3em; background: url(/images/communicator_sprites.png) -701px -0px no-repeat; cursor: pointer; }
.menu-eliminate { width: 11em; height: 2.3em; background: url(/images/communicator_sprites.png) -701px -73px no-repeat; cursor: pointer; }
.menu-investigate { width: 13em; height: 2.7em; background: url(/images/communicator_sprites.png) -701px -46px no-repeat; cursor: pointer; }
.menu-medicate { width: 11.3em; height: 2.3em; background: url(/images/communicator_sprites.png) -701px -23px no-repeat; cursor: pointer; }
.menu-settings { width: 10.5em; height: 2.7em; background: url(/images/communicator_sprites.png) -701px -96px no-repeat; cursor: pointer; }
.menu-help { width: 11.5em; height: 2.7em; background: url(/images/communicator_sprites.png) -2px -760px no-repeat; cursor: pointer; }

.tap-to-start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}

.tap-to-start-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 2em;
  color: #ffcf17;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0.8em 2em;
  border: 2px solid #ffcf17;
  border-radius: 0.5em;
  background: rgba(255, 207, 23, 0.25);
  animation: tapPulse 2s ease-in-out infinite;
  transition: background 0.15s;
}

.tap-to-start:active .tap-to-start-text {
  background: rgba(255, 207, 23, 0.3);
}

@keyframes tapPulse {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 1; }
}
