/* Communicate scene */
.communicate-scene {
  background: #000;
}

/* Spinner */
.spinner-holder { position: absolute; width: 22.2em; height: 22.2em; left: 5.1em; top: 4.8em; overflow: hidden; }
.spinner-bg { position: absolute; top: 1.1em; left: 0.1em; width: 22.2em; height: 22.2em; overflow: hidden; background: url(/images/communicator_sprites.png) -190px -542px no-repeat; }
.spinner-pattern { position: absolute; top: 1.1em; left: 2.1em; width: 17.5em; height: 17.5em; background: url(/images/communicator_sprites.png) -13px -2px no-repeat; transition: transform 3s linear; transform-origin: center center; }
.spinner-static-pattern { position: absolute; top: .1em; left: 1.6em; width: 19em; height: 19em; background: url(/images/communicator_sprites.png) 0px 0px no-repeat; }
.spinner-cover { position: absolute; width: 22em; height: 22.6em; background: url(/images/communicator_sprites.png) -412px -339px no-repeat; }

/* Department buttons */
.communicator-dept-buttons { position: absolute; left: 4.2em; top: 28.3em; }
.communicator-button1 { position: relative; display: inline-block; }
.communicator-button2 { position: absolute; left: 9em; }
.communicator-button3 { position: absolute; left: 18em; }

/* Panel */
.communicator-panel { position: absolute; width: 27.8em; left: 2.1em; height: 12.1em; top: 34.6em; background: url(/images/metal_bg.png); }
.communicator-metal-texture { background: url(/images/metal_texture.png); position: absolute; opacity: .75; width: 27.8em; height: 12.1em; }
.communicator-metal-shadow { width: 21.7em; height: 6em; position: absolute; border-width: 3.1em; border-style: solid; border-color: transparent; border-image: url(/images/tricorder_full_shadow.png) 31 repeat; }
.communicator-speaker-holder { position: absolute; left: .1em; top: .6em; }
.communicator-speaker-shadow { position: absolute; width: 2em; height: 3em; border-width: 4em 4.4em; border-style: solid; border-color: transparent; border-image: url(/images/speaker-shadow.png) 40 44 repeat; opacity: .3; }
.communicator-grill { position: absolute; top: 2.2em; left: 1.7em; width: 7.5em; height: 6.4em; transform: rotate(90deg); background: url(/images/radio_screen.png); }
.communicator-inner-shadow { position: absolute; top: 1.6em; left: 2.2em; width: 4.3em; height: 5.2em; border-width: 1.2em 1.1em; border-style: solid; border-color: transparent; border-image: url(/images/speaker-inner-shadow.png) 12 11 repeat; }
.communicator-frame { position: absolute; top: 1.6em; left: 2.2em; width: 5.1em; height: 5em; border-width: 1.3em 0.7em; border-style: solid; border-color: transparent; border-image: url(/images/speaker_rim.png) 13 7 repeat; opacity: .5; }

/* Std buttons in panel */
.communicator-std-btn1 { left: 12.5em; top: 3.2em; transform: rotate(270deg); cursor: pointer; }
.communicator-std-btn2 { left: 20em; top: 3.2em; transform: rotate(270deg); cursor: pointer; }

/* Antenna grill */
.communicator-antenna {
  position: absolute;
  width: 32em;
  height: 48em;
  background: url(/images/communicator_sprites.png) -915px 0px no-repeat;
  transition: transform .5s ease-in-out;
  transform-origin: center top;
  transform: scaleY(1);
  cursor: pointer;
  z-index: 50;
}

.communicator-antenna.open {
  transform: scaleY(0);
  pointer-events: none;
}
